.cool-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  margin-right: 2rem;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}
